page-criacao-conteudo {
    ion-input,ion-textarea{
         margin-top: 10px;
         border-color: rgb(99, 99, 99);
         border-style: solid;
         border-width: 1px;
         border-radius: 4px;
         font-size: 17px;
         padding: 3px;
     }
     ion-select{
         background-color: rgb(99, 99, 99);
         color:white;
         font-size: 17px;
         margin-top: 10px
     }

     
}
